
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #c6edaf, #0e9f41);
}

.container-sm{
  display: flex;
  justify-content: center;
}

.screen {
  
  max-width: 100%;
  border-radius: 3px;
  padding: 2em;
  margin: 3em;
  box-shadow: 0px 0px 24px #5c5696;
}

#title {
  align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.rows{
  display: flex;
  justify-content: center;
  margin-right: 3.5rem;
}

.container{
  width: 500px;
  display: flex;
  justify-content: space-around;
}

#remove {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;

}

.input-row{
  display: flex;
  justify-content: center;
}


.input{
  padding: 8px;
  margin: 4px;
  width: 150px;
  border-radius: 5px;
  border: #F5F5F5;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.del-but {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;

}



.button{
  padding-top: 5px;
  display: grid; 
  grid-template-columns: 2fr;
}

.button .button-right-item{
  text-align: center;
  padding-bottom: 15px;
}

.button .button-left-item{
  text-align: left;
}

.gwa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.gwa {
  width: 210px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(163, 226, 163);
  padding-top: 30px;
  padding-left: 20px;
  /* Add any additional styling you may need */
}

.sayings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}












@media only screen and (max-width: 575px) {
  .container {
    flex-wrap: wrap;
    margin-left: 0;
    display: block; 
    text-align: center;
  }

  #title {
    padding-bottom: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: smaller;
    justify-content: center;
    align-items: center; 
  }

  .screen {
    padding: 1rem; 
  }

  .column {
    display: inline-block; 
    margin-bottom: 115px; 
    margin-left: 25px;
  }

  #subject {
    max-width: 115px;
  }

  #unit {
    flex: 1;
    max-width: 45px;
  }

  #grade {
    flex: 1; 
    max-width: 45px;
  }

  .button {
    width: 90%; 
  }

  
}


